.nestedDiv {
  color: red;
}

body {
  background-color: grey;
}

/* class selector with a dot(.) */
.main__class {
  color: "green";
}

/* Id selector with a #  */
#main {
  color: yellow;
}

.sub__div {
  color: green;
}
